<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICollegeRegistration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61342/CollegeRegistration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollegeRegistration"
                contract="ICollegeRegistration" name="BasicHttpBinding_ICollegeRegistration" />
        </client>
    </system.serviceModel>
</configuration>